<!DOCTYPE html>
<html>
<head>
    <title>Auctions Online</title>
</head>
<body>

    <li class="nav-item">
        <a class="nav-link" href="">привет, {{user.username}}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/watchlist/">Watchlist</a>
    </li>
    <li class="nav-item open-modal">
        <a class="nav-link" href="/balance/">Balance : €{{ balance }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logout/">Logout</a>
    </li>

</body>
</html>
